.sticky-sidebar{
    height: 100%;
    width: 70px;
    background: orange;
    flex: 0.10 0
}

.sticky-sidebar ul{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.sticky-sidebar ul li {
    list-style: none;
    padding-bottom: 5px;
}

i {
    font-size: 4rem;
    color: white;
}

i:active, i:hover{
    color: steelblue
}