.toolbar{
    width: 100%;
    position: fixed;
    background : orange;
    top: 0;
    left: 0;
    height: 56px;
}


.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
}

.toolbar__logo a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 0 1rem;
    margin: 0 0.5rem;
}

.toolbar_navigation-items a{
    color: white;
    text-decoration: none
}

.toolbar_navigation-items a:hover, 
.toolbar_navigation-items a:active{
    color: steelblue;
}

.toolbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li{
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    align-content: right;
}

.divider{
    flex : 1
}

@media (max-width: 768px){
    .toolbar_navigation-items{
        display: none
    }
}

@media (min-width: 769px){
    .toolbar__toggle-button{
        display: none
    }
    .toolbar__logo{
        margin-left: 0;
    }
}
