
.toggle-button{
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line{
    width: 30px;
    height: 2px;
    background: white;
}

@media (min-width: 769px){
    .toggle-button{
        display: none;
    }
}