.sidebar{
    height: 100%;
    background: white;
    box-shadow: 2px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

.sidebar ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar a{
    color: purple;
    text-decoration: none;
    font-size: 1.2rem;
}

.sidebar.open{
    transform: translateX(0);
}

.sidebar a:hover,
.sidebar a:active{
    color: white
}

.sticky{
    width: 30px;
}

@media (min-width: 769px){
    .sidebar{
        display: none;
    }
}