.snapshot-card{
    width: 200px;
    height: 200px;
    border: 2px soild red;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    padding-top: 5px;
}

.snapshot-card-details{
    background: steelblue;
    width: 100%;
    height: 25%;
    bottom: 0;
    position: relative;
    transition: height 0.25s ease-out;
    color: white;
    padding: 5px;
}

.snapshot-card-details:hover{
    height: 50%;
}